.Numpad {
  position: fixed;
  left: 0;
  top: 0;
  background-color: black;
  z-index: 200;
  opacity: .25;
  width: 100%;
  height: 100vh;
}

.inner-numpad {
  position: fixed;
  left: 10%;
  top: 5%;
  width: 80%;
  padding: 5%;
  z-index: 200;
  background-color: white;
  opacity: 1;
}

@media only screen and (min-width: 600px) {
  .inner-numpad {
    left: 28%;
    width: 40%;
    margin: 0 auto;
  }
}

.numpad-button-container {
  width: 20%;
  margin: 10px 0;
}

.numpad-button-container-2 {
  width: 60%;
  margin: 10px 0;
}

.numpad-btn {
  width: 100%;
}

.btn-close-numpad {
  position: fixed;
  right: 5px;
  top: 5px;
  z-index: 300;
}

.numpad-display p {
  font-size: 1.8em;
  font-weight: 800;
}

.btn-ok-numpad {
  width: 85%;
}